h1{
    font-size: 40px;
    font-family:Inter;
    font-weight:bold;
    color:#2B2320;
    text-align: center;
}

h2{
    font-size: 35px;
    font-family:Inter;
    font-weight:bold;
    color:#2B2320;
}

p{
    font-size: 30px;
    font-family:Inter;
    font-weight:normal;
    color:#2B2320;
}

div{
    padding: 20px;
}

header,footer{
    background-color:#F4E5C1;
    padding: 10px;

}

footer{
    text-align: center;
}

body {
  background-color: #FDFAF0;
  font-family: Inter, Arial, sans-serif;
  color: #2B2320;
  line-height: 1.6;
  max-width: 1000px;
  margin: 0 ;
}


a:hover{
    color: #d45d5d;
}

a:active{
    color: #d45d5d;
    text-decoration: underline;
}

a:focus{
    color: #d45d5d;
    text-decoration: underline;
}

a{
    text-decoration: none;
    color: #2B2320;
    padding-right: 20px;
}

/*Specific Logo size class to appear on every webpage*/

.logo{      /*(The IIE, 2026)*/
    width: 110.02px;
    height: 115.41px;
    padding-right: 20px;
}

nav {
    flex: 1;
    flex-wrap: wrap;
}

form{
    padding: 20px;
    border: 1px solid #2B2320;
    width: 300px;
    background-color: #fafafa;
    margin:auto;
    padding: 20px;
}

.boxes {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin:20px;
}

.box {
    flex: 1;
    min-width: 100px;
    padding: 20px;
}

img {
    border-radius: 10px;
}