h1{
    font-size: 40px;
    font-family:Inter;
    font-weight:bold;
    font-color:#2B2320;
}

h2{
    font-size: 35px;
    font-family:Inter;
    font-weight:bold;
    font-color:#2B2320;
}

p{
    font-size: 30px;
    font-family:Inter;
    font-weight:normal;
    font-color:#2B2320;
}

div{
    padding: 20px;
}

header,footer{
    background-color:#F4E5C1;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

body{
    background-color:#FDFAF0;
    margin: 0; /* Remove default margin */

};


a:hover{
    text-decoration:underline;
}

/*Specific Logo size class to appear on every webpage*/

.logo{      /*(The IIE, 2026)*/
    width: 110.02px;
    height: 115.41px;
    padding-right: 20px;
}

.boxes {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin:20px;
}

.box {
    flex: 1;
    min-width: 100px;
    padding: 20px;
    background-color: #F4E5C1;
}